<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name= "cn" connectionString="Data Source=JARVIS\SQLEXPRESS;Initial Catalog=Soccerstats;Integrated Security=True"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>


  <appSettings>
    <add key="SelectChild" value="SELECT * FROM Players"/>
    <add key="SelectParent" value="SELECT * FROM Clubs"/>
    <add key="ParentTableName" value="Clubs"/>
    <add key="ChildTableName" value="Players"/>
    <add key="SelectQuerry" value="SELECT * FROM Players WHERE ClubName = @ClubName"/>
    <add key="ChildNumberOfColumns" value="9"/>
    <add key="ChildColumnNames" value="Pid,Name,BirthDate,Nationality,KitNr,Position,BootsName,ClubName,NTName"/>
    <add key="InsertQuerry" value="INSERT INTO Players(Pid, Name, BirthDate, Nationality, KitNr, Position, BootsName, ClubName, NTName) VALUES(@Pid, @Name, @BirthDate, @Nationality, @KitNr, @Position, @BootsName, @ClubName, @NTName)"/>
    <add key="DeleteQuerry" value="DELETE FROM Players WHERE Pid=@Pid"/>
    <add key="UpdateQuerry" value="UPDATE Players SET KitNr=@KitNr, BootsName=@BootsName, ClubName=@ClubName WHERE Pid=@Pid"/>
  </appSettings>


  <!--
  <appSettings>
    <add key="SelectChild" value="SELECT * FROM Managers"/>
    <add key="SelectParent" value="SELECT * FROM Clubs"/>
    <add key="ParentTableName" value="Clubs"/>
    <add key="ChildTableName" value="Managers"/>
    <add key="SelectQuerry" value="SELECT * FROM Managers WHERE ClubName = @cn"/>
    <add key="ChildNumberOfColumns" value="5"/>
    <add key="ChildColumnNames" value="Mid,Name,ClubName,BirthDate,Nationality"/>
    <add key="InsertQuerry" value="INSERT INTO Managers(Mid,Name,ClubName,BirthDate,Nationality) VALUES(@Mid,@Name,@ClubName,@BirthDate,@Nationality)"/>
    <add key="DeleteQuerry" value="DELETE FROM Managers WHERE Mid=@Mid"/>
    <add key="UpdateQuerry" value="UPDATE Managers SET ClubName=@ClubName WHERE Mid=@Mid"/>
  </appSettings>
  -->

</configuration>